.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4aaaa5;
  color: white;
}

.logo-name {
  text-align: center;
  line-height: 57px;
}

.port-container {
  display: inline;
}

.port-overlay {
  position: absolute;
  text-align: center;
  bottom: 50px;
  width: -webkit-fill-available;
  background-color: #4aaaa5;
  color: white;
  padding: 2rem;
  margin-right: 4rem;
  margin-left: 1rem;
}

.port-img {
  width: 100%;
  padding: 1rem;
}

.panel-left {
  width: 100%;
}

.navbar {
  border: 0px;
}

a {
  color: white;
}

.container-logo {
  padding: 21px 1rem 39px 1rem;
  height: 60px;
  width: auto;
  color: white;
  background-color: grey;
  margin-left: 5%;
}

.navar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7
}

.cust-nav-options {
  display: inline;
  padding-top: 22px;
}

.navbar-brand {
  padding: 15px;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav {
  float: right;
  padding-right: 10%;
}

.nav .navbar-nav {
  padding-right: 5%;
  margin-right: 12%;
  padding-right: 10%;
  margin: 7.5px -15px;
}

.navbar-header {
  background-color: teal;
  height: 50px;
  height: -webkit-fill-available;
}

nav {
  width: 100%;
}

.container-fluid {
  background-color: teal;
  height: 75px;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  /* margin-right: auto; */
}

.row {
  margin: 0px;
}

li {
  text-align: right;
}

.topbar {
  padding-left: 4%;
  margin-left: auto;
}

.profile-pic {
  margin: 5px;
  margin-left: 0px;
  float: left;
  width: 40%;
}

.about-me {
  margin-bottom: 5%;
  width: 100%;
  float: left;
  padding: 15px;
}

.side-img {
  max-width: 29%;
  background-color: white;
  padding: 1%;
}

a:hover {
  color: white;
}

.form-input {
  width: 100%;
}

.form-btn-custom {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  border-radius: 0px;
  width: 140px;
  margin-bottom: 2rem;
}

hr {
  border-top-color: teal;
  width: 100%;
}

body {
  color: teal;
  background-color: white;
}

p {
  font-size: 15px;
}

.panel {
  border-color: teal;
  background-color: white;
  padding: 2%;
}

.panel-body {
  width: 100%;
  border: 1px solid teal;
}

textarea {
  width: 100%;
  height: 150px;
}

.footer {
  bottom: 0px;
  position: static;
  text-align: center;
  background-color: white;
  border-top: 1px;
  border-top-color: teal;
  width: 100%;
}

ul {
  text-align: right;
}

#name-logo {
  padding-left: 4rem;
}

title, h1, h2, h3, h4 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar {
  border-radius: 0px;
  border-top: 0px;
}

.navbar-header {
  padding-left: 1%;
}

h2 {
  margin-top: 0px;
}

.nav-btn-container {
  width: 40%;
}
.navbar-brand {
  margin-top: 1rem;
}

.panel-right {
  width: 25%;
  float: right;
}

.nav-border {
  border-bottom: 1px solid #ccc!important;
  border-color: #dddddd;
  position: relative;
  top: 0px;
  right: 15px;
  min-height: 2rem;
}

#nav-btns-custom {
  text-align: right
}

.nav-btn-custom {
  padding-right: 2rem;
  background-color: transparent;
  color: black;
  border: none;
  text-align: right;
}

@media (max-width: 1980px) {
  .panel-right {
    width: 25%;
  }
  .about-me {
    width: 100%;
  }
  .panel-left {
    width: 70%;
    float: left;
  }
  .nav-btn-container {
    float: right;
  }
}

@media (min-width: 981px) and (max-width: 992px) {
  .about-me {
    width: 76%;
  }
  .panel-left {
    width: 70%;
  }
  .nav-btn-container {
    float: right;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
  .nav-btn-container {
    float: right;
  }
}

@media (max-width: 980px) {
  .profile-pic {
    width: 100%;
    padding-bottom: 1rem;
  }
  .about-me {
    width: 70%;
    float: left;
  }
  .panel-body {
    float: right;
  }
  .panel-right {
    width: 30%;
  }
  .panel-left {
    width: 70%;
    float: left;
  }
  .nav-btn-container {
    float: right;
  }
}

@media (max-width: 768px) {
  .nav-btn-container {
    float: right;
  }
  .profile-pic {
    width: 50%;
  }
  .side-img {
    width: 12%;
  }
  .panel-right {
    width: 100%;
    padding: 0px;
  }
  .about-me {
    width: 100%;
  }
  .panel-left {
    width: 100%;
  }
  .port-img {
    width: 310px;
  }
  .port-overlay {
    width: 290px;
  }
  #port-1 {
    float: left;
  }
  #port-2 {
    float: right;
  }
  #port-3 {
    float: left;
  }
  #port-4 {
    float: right;
  }
  #port-5 {
    float: left;
  }
  .port-row {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .container-logo {
    padding: 0px;
    margin: 0px;
  }
  .panel-right {
    padding: 0px;
  }
  .active {
    width: 100%;
  }
  .topnav {
    display: grid;
  }
  .nav-btn-custom {
    display: block;
    padding-right: 0px;
    width: 33%;
  }
  .nav-btn-container {
    width: 100%;
  }
  .logo-name {
    display: block;
  }
  .panel-body {
    display: block;
  }
  .container {
    width: 80%;
  }
  .container-fluid {
    padding: 0%;
  }
  .side-img {
    width: 15%;
  }
  .profile-pic {
    width: 100%;
  }
  .panel-left {
    width: 100%;
  }
  .port-img {
    display: block;
  }
  .port-row {
    clear: both;
  }
  #port-2 {
    float: left;
  }
  #port-4 {
    float: left;
  }
}