#about-me {
	background-color: white;
	border-color: #dddddd;
}

body{
	background-color: #ffffff;
}

#name {
	color: white;
	display: inline;
	background-color: #4aaaa5;
	border: 5px;
	margin: 2px 1px 2px 1px;
}

.nav-border {
	border-bottom: 2px solid #ccc!important;
	border-color: #dddddd;
}

.nav-btn-custom {
	padding-right: 2rem;
	background-color: transparent;
    color: black;
    border: none;
}

.width-inherit {
	width: inherit;
}

.content-cont-custom {
	width: 960px;
}

.left-cont-custom {
	width: 650px;
}

.right-cont-custom {
	width: 270px;
}

#portfolio-picture {
	width: 100px;
    float: left;
    margin-right: 2rem;

}

.connect-img {
	width: 50px;
}

#msg-box {
	height: 200px;
}

.form-input {
	width: 100%;
}

.form-btn-custom {
	background-color: #4aaaa5;
	border-color: #4aaaa5;
	border-radius: 0px;
	width: 140px;
}

.portfolio-img {
	width: 100%;
	padding: 1rem ;
}

.port-overlay {
	position: absolute;
	bottom: 50px;
	width: 100%;
	background-color: #4aaaa5;
	color: white;
	padding: 1rem;
}
